.hero {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  @include responsiveMin($tablet-m) {
    padding-bottom: 0;
  }
  &-inner {
    display: grid;
    grid-template-columns: 1fr;
    @include responsiveMin($tablet-m) {
      grid-template-columns: repeat(2, 1fr);
      min-height: 600px;
      max-height: 100vh;
    }
  }
  &-text {
    max-width: 560px;
    align-self: center;
  }
  &-image {
    overflow: hidden;
    @include responsiveMin($tablet-m) {
    }
  }
  &-image-wrapper {
    display: flex;
    column-gap: 1.6rem;
    row-gap: 3.2rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .btn-wrapper {
    margin-top: 5rem;
  }
}

.circle-with-text {
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
  height: 13.5rem;
  width: 13.5rem;
  font-weight: 900;
  color: $white;
  border-radius: 100%;
  animation: circle-scale 2s ease-in-out infinite alternate;
  opacity: 1;
  gap: 8px;
  svg {
    max-height: 45px;
    max-width: 45px;
    fill: $white;
    path {
      fill: $white;
    }
  }
  &:nth-child(odd) {
    animation-delay: 2s;
  }
  &:nth-child(3n + 1) {
    background: $pink;
  }

  &:nth-child(3n + 2) {
    background: $purple;
  }

  &:nth-child(3n + 3) {
    background: $blue;
  }
  &:nth-child(3n + 4) {
    background: $purple;
  }
  &:nth-child(3n + 5) {
    background: $blue;
  }
  &:nth-child(3n + 6) {
    background: $pink;
  }
}

@keyframes circle-scale {
  0% {
    opacity: 1;
    transform: transateY(1) scale(1);
  }
  100% {
    opacity: 0.5;
    transform: translateY(-20px) scale(0.8);
    filter: blur(2px);
  }
}

.single-project-hero {
  position: relative;
  background: rgba($dark-grey, 0.7);
  color: $white;
  padding-bottom: $standard-spacing;
  margin-bottom: 2rem;
  svg {
    fill: $white;
    max-height: 30px;
    max-width: 30px;
    path {
      fill: $white;
    }
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
  }
  &-content {
    max-width: $article-width;
    display: grid;
    gap: 1.6rem;
    a {
      justify-self: start;
    }
  }
  &-bg-video {
    z-index: -1;
    @include fullAbsolute();
    img {
      height: 100%;
      width: 100%;
    }
    video,
    img {
      object-fit: cover;
    }
  }
  .find-out-more {
    position: relative;
    height: 50px;
    width: 50px;
    display: block;
    &::after,
    &::before {
      content: '';
      display: block;
      @include fullAbsolute();
      border-radius: 100%;
      width: 100%;
      background: $white;
      transition: all 0.5s;
    }
    &::after {
      z-index: 1;
    }
    &::before {
      z-index: 2;
      opacity: 0;
      background: $gradient;
    }
    svg {
      position: relative;
      transform: rotate(90deg);
      z-index: 3;
      height: 100%;
      width: 100%;
      max-height: 150px;
      max-width: 150px;
      border-radius: 100%;

      .right-arrow-svg-bg {
        fill: transparent !important;
      }
      .right-arrow-svg {
        fill: $dark-grey !important;
      }
      .right-arrow-svg-outer {
        fill: transparent !important;
      }
    }
    &:hover {
      svg {
        .right-arrow-svg {
          fill: white !important;
        }
      }
      &::before {
        opacity: 1;
      }
    }
  }
}
