.features {
  &-heading {
    margin-bottom: 3.2rem;
  }
  &-list {
    list-style: none;
    padding-left: 0;
    @include responsiveGrid();
    li {
      display: grid;
      grid-template-rows: 70px auto 1fr;
      svg {
        width: 5rem;
        height: 5rem;
      }
      h3 {
        margin-bottom: 1rem;
      }
    }
    p {
      margin: 0;
    }
  }
}
