.image-and-text {
  &-wrapper {
    display: flex;
    flex-direction: column;
    @include responsiveMin($tablet-m) {
      flex-direction: row;
      & > * + * {
        margin-left: 6rem;
      }
      &.image-right {
        flex-direction: row-reverse;
        & > * + * {
          margin-right: 6rem;
        }
      }
      & > * {
        flex: 50%;
      }
    }
    .image {
      margin-bottom: 4rem;
      @include responsiveMin($tablet-m) {
        margin-bottom: 0;
      }
      align-self: center;
      & + .content {
        text-align: left;
      }
    }
    .content {
      justify-self: center;
      align-self: center;
      text-align: center;
      max-width: $article-width;
      .sub-heading {
        font-weight: 400;
      }
    }
    .btn {
      margin-top: 1.6rem;
    }
  }
}
